body {
    text-align: center;
}

.choice-button {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(192, 247, 252);
    border-radius: 50px;
}

.choice-image {
    height: 75px;
}